.checkout-page{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    padding: 1rem;
    justify-content: center;
}
.left-checkout{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.checkout-page .checkout-error{
    background-color: #f0a8a8;
    color: #6b0101;
    padding: 0.6rem;
    text-align: center;
}
.checkout-page .form-hero{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #18191a;
    color: #fff;
    padding: 1rem;
    border-radius: 0.4rem;
}
.checkout-page form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.checkout-page .form-hero .form-inputs{
    display: flex;
    flex-direction: column;
}
.checkout-page form div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.checkout-page form div label{
    font-size: 0.8rem;
}
.checkout-page form div input{
    padding: 0.6rem;
    outline: none;
    border: none;
    background: none;
    border: 1px solid #fff;
    border-radius: 0.2rem;
}
.checkout-page form button{
    width: fit-content;
    align-self: center;
    padding: 0.5rem;
    background-color: #fff;
    color: #0b1623;
    border: none;
    border-radius: 0.2rem;
}
.checkout-page .city-state{
    display: flex;
    flex-direction: row;
}
.checkout-page .city-state input{
    width: 100%;
}

.checkout-page .shipping{
    font-size: 0.7rem;
    align-self: center;
}

.checkout-page .right-checkout{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 350px;
}
.checkout-page .right-checkout div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}